h1{
  text-align: center;
}

.max{
  max-width:900px;
  max-height:500px;
  margin: 0 auto;

}

.travelplane{
	padding-left: 10%;
	padding-right: 10%;
	background-image: url("plane.jpg");
	background-image: cover;

}
fieldset{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
}

.submit{
	float: right;
}
=======

